<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Perpetual Projects</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>

<body>
    <%- include header %>
        <div class="paper-center">
            <div class="main-paper">
                <div class="page-text-width">
                    <div class="placeholder-container">
                        <div class="green-header">
                            <%= title%>
                        </div>
                    </div>
                    <div class="short-info-container">
                        <div class="short-guide-facts-container">
                            <div class="short-guide-facts">
                                <div class="short-fact-header">
                                    <%= firstJobLabel%>
                                </div>
                                <% if (isFirstJob) { %>
                                    <div class="short-fact-text">
                                        <%= yes%>
                                    </div>
                                    <% } else { %>
                                        <div class="short-fact-text">
                                            <%= no%>
                                        </div>
                                        <% } %>
                            </div>
                            <div class="short-guide-facts">
                                <div class="short-fact-header">
                                    <%= educationLabel%>
                                </div>
                                <div class="short-fact-text">
                                    <%= education%>
                                </div>
                            </div>
                            <div class="short-guide-facts">
                                <div class="short-fact-header">
                                    <%= prevOccupationLabel%>
                                </div>
                                <div class="short-fact-text">
                                    <%= occupation%>
                                </div>
                            </div>
                            <div class="short-guide-facts">
                                <div class="short-fact-header">
                                    <%= jobLabel%>
                                </div>
                                <div class="short-fact-text">
                                    <%= job%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bullet-container">
                        <% for (var i = 0; i < bullets.length; i++) { %>
                            <div class="bullet-row">
                                <div class="bullet-index">
                                    <%= bullets[i].order + 1%>
                                </div>
                                <div class="bullet-title-description-container">
                                    <div class="bullet-title">
                                        <%= bullets[i].title%>
                                    </div>
                                    <div class="bullet-description">
                                        <%= bullets[i].description%>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>

                    <div class="description-container">
                        <div class="description-text">
                            <%= description%>
                        </div>
                    </div>
                    <div class="button-panel">
                        <div class="horizontal-buttons">
                            <button class="button upvote-button"><%= voteUpLabel%></button>
                            <button class="button downvote-button"><%= voteDownLabel%></button>
                            <button class="button flag-button"><%= flagLabel%></button>
                        </div>
                        <button class="button translate-button"><%= translateLabel%></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">Powered <span style="font-size: 0.8rem;">by</span> Perpetual Projects</div>
        <script src="/scripts/login.js"></script>
</body>

</html>
