<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Perpetual Projects</title>
        <style>
            body{ margin: 0; }
            .container{ max-width: 70rem; }

            .navigation-bar{ display: flex; }
            .nav-search{ flex-grow: 1; min-width: 4rem; }
            .nav{ font-size: 1.5rem; white-space: nowrap; }
            @media only screen and (max-width: 40rem) {
                .navigation-bar{ flex-direction: column; }
            }
            .nav-logo{ color: #00B568; }

            .color-primary-0 { color: #00B568 }
            .color-primary-1 { color: #25DA8C }
            .color-primary-2 { color: #00DE7F }
            .color-primary-3 { color: #009052 }
            .color-primary-4 { color: #006F3F }

            .text-input{ background: transparent; font-family: Arial, Helvetica, sans-serif; font-size: inherit; width: 100%; padding: 0; border: 0; margin: 0; resize: vertical; }
            .main-header{ text-align: center; padding: 1rem; }
            .short-guide-container{ margin: 0; }
            .short-guide-row{ margin: 0.5rem; padding: 0.5rem; background-color: silver; }
            .first-job{ background-color: greenyellow; }
            .short-guide-profession-box{  }
            .short-guide-path-box{  }
            .short-guide-main{ display: flex; justify-content: space-between; background-color: orange; }
            .button{ padding: 0.3rem; color: white; border: black solid 0; background-color: gray; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; }


            .footer{ text-align: center; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="navigation-bar">
                <div class="nav nav-logo">Perpetual Projects</div>
                <div class="nav nav-search"><input class="nav text-input" type="text" name="search" placeholder="Search"></input></div>
                <button class="nav button nav-new-guide">create your guide</button>
                <button class="nav button nav-account">account</button>
                <button class="nav button nav-login">Login</button>
            </div>
            <div class="main-header"><%= experiences%></div>
            <div class="short-guide-container">
                <div class="short-guide-row">
                    <div class="first-job"><%= firstJob!%></div>
                    <div class="short-guide-main">
                        <div class="short-guide-profession-box">
                            <div><%= computerScience%></div>
                            <div><%= carpenter%></div>
                        </div>
                        <div class="short-guide-path-box"><!-- Very flexible if displayed or not -->
                            <%= theAmazingPath%>
                        </div>
                    </div>
                </div>
                <div class="short-guide-row">
                    <div class="first-job"><%= firstJob!%></div>
                    <div class="short-guide-main">
                        <div class="short-guide-profession-box">
                            <div><%= computerScience%></div>
                            <div>Carpenter</div>
                        </div>
                        <div class="short-guide-path-box"><!-- Very flexible if displayed or not -->
                            <%= theAmazingPath%>
                        </div>
                    </div>
                </div>
                <div class="short-guide-row">
                    <div class="first-job"><%= firstJob!%></div>
                    <div class="short-guide-main">
                        <div class="short-guide-profession-box">
                            <div><%= computerScience%></div>
                            <div><%= carpenter%></div>
                        </div>
                        <div class="short-guide-path-box"><!-- Very flexible if displayed or not -->
                            <%= theAmazingPath%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">Powered <span style="font-size: 0.8rem;">by</span> Perpetual Projects</div>
    </body>
</html>
