<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/res/128x128_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Perpetual Projects</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <style>
        .color-primary-0 {
            color: #00B568
        }

        .color-primary-1 {
            color: #25DA8C
        }

        .color-primary-2 {
            color: #00DE7F
        }

        .color-primary-3 {
            color: #009052
        }

        .color-primary-4 {
            color: #006F3F
        }
    </style>
</head>

<body>
    <%- include header %>
        <div class="paper-center">
            <div class="main-paper">
                <div class="page-text-width">
                    <div class="green-header"><%= guidesLabel%></div>

                    <% for (var i = 0; i < guides.length; i++) { %>
                        <a class="guide-link" href="/guide/<%= guides[i]._id%>">
                            <div class="guide-row">
                                <div class="bannerText font-medium">
                                    <%= guides[i].title %>
                                </div>
                                <div class="short-guide-facts-container">
                                    <div class="short-guide-facts">
                                        <div class="short-fact-header">
                                            <%= firstJobLabel%>
                                        </div>
                                        <% if (guides[i].firstJob) { %>
                                            <div class="short-fact-text">
                                                <%= yes%>
                                            </div>
                                            <% } else { %>
                                                <div class="short-fact-text">
                                                    <%= no%>
                                                </div>
                                                <% } %>
                                    </div>
                                    <div class="short-guide-facts">
                                        <div class="short-fact-header">
                                            <%= educationLabel%>
                                        </div>
                                        <div class="short-fact-text">
                                            <%= guides[i].education%>
                                        </div>
                                    </div>
                                    <div class="short-guide-facts">
                                        <div class="short-fact-header">
                                            <%= prevOccupationLabel%>
                                        </div>
                                        <div class="short-fact-text">
                                            <%= guides[i].prevOccupation%>
                                        </div>
                                    </div>
                                    <div class="short-guide-facts">
                                        <div class="short-fact-header">
                                            <%= jobLabel%>
                                        </div>
                                        <div class="short-fact-text">
                                            <%= guides[i].job%>
                                        </div>
                                    </div>
                                </div>
                                <div class="bannerText font-medium">
                                    <% for (var j = 0; j < guides[i].bullets.length; j++) { %>
                                        <% if (j > 0) { %>>
                                            <% } %>
                                                <%= guides[i].bullets[j].title%>
                                                    <% } %>
                                </div>
                            </div>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
        <div class="footer">Powered <span style="font-size: 0.8rem;">by</span> Perpetual Projects</div>
        <script src="/scripts/login.js"></script>
</body>

</html>
